<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='styles.css'
  </head>
  <script
    src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"
    defer
  ></script>
  <script src="./scripts.js" defer></script>
  <body>
    <nav>
      <ul>
        <li><a class="nav__link" href="#about">About</a></li>
      </ul>
      <ul>
        <li><a class="nav__link" href="#big-project">Projects</a></li>
      </ul>
      <ul>
        <li><a class="nav__link" href="#art">Artwork</a></li>
      </ul>
      <ul>
        <li><a class="nav__link" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <section id="herocontainer">hello world, placeholder</section>
    <section id="content">
      <section id="about">
        <h2>About Me</h2>
        <hr class="main-break" />
        <article>
          <h3>Hello All,</h3>
          <p>
            I Am a junior web developer and recent graduate of Columbia
            University, where I received an MS in Computer science. While in
            school, I specialized in software systems, taking a variety of
            classes on databases, cloud computing, networks, operating systems,
            and more. I hope to use my background in systems to take an in depth
            and thorough approach to frontend development.
          </p>
          <p>
            I live in NYC, and am currently working as a software consultant at
            <a href="www.google.com" class="secondary-text">Pyyne Digital</a>.
          </p>
          <h3>Some technologies I've been using recently...</h3>
          <ul id="tech-skills">
            <li id="languages" class="skills">
              <img src="bulletpoint.svg" />
              Languages:
              <ul class="secondary-text">
                <li>Javascript</li>
                <li>HTML/CSS</li>
                <li>Python</li>
                <li>Typescript</li>
              </ul>
            </li>
            <li id="frameworks" class="skills">
              <img src="bulletpoint.svg" />
              Frameworks And Libraries:
              <ul class="secondary-text">
                <li>React</li>
                <li>Tailwind CSS</li>
                <li>Jest Redux</li>
              </ul>
            </li>
            <li id="platforms" class="skills">
              <img src="bulletpoint.svg" />
              Platforms:
              <ul class="secondary-text">
                <li>Amazon Web Services</li>
                <li>Docker</li>
                <li>Linux</li>
              </ul>
            </li>
          </ul>
        </article>
      </section>
      <section id="big-project">
        <h2>Projects</h2>
        <hr class="main-break" />
        <% for (const proj of pageData.bigProjects) { %>
        <article class="big-project__project">
          <div class="video">
            <!-- <div class="videoFiller">filler here</div> -->
            <!-- <img src="./videos/largescreen_resize.gif" class="freezeframe" /> -->
            <video
              class="clip"
              width="500"
              src="./videos/resizedmp4.mp4"
              type="mp4"
              loop
              muted="muted"
            ></video>
          </div>
          <section class="big-project__blurb">
            <article class="big-project__description">
              <h3><%= proj.name %></h3>
              <p><%= proj.shortDescription %></p>
            </article>
            <ul>
              <% for (const skill of proj.skills) { %>
              <li class="secondary-text"><%= skill %></li>
              <% } %>
            </ul>
          </section>
        </article>
        <% } %>
      </section>
      <section id="small-project">
        <h2>Small Things</h2>
        <hr class="main-break" />
        <h3>
          Small projects that were too simple to put with the others. Edifying
          nonetheless.
        </h3>
        <section id="small-project__all-projects">
          <% for (const proj of pageData.smallProjects) { %>
          <article class="small-project__project">
            <div>
              <h3><%= proj.name %></h3>
              <hr />
              <p class="description"><%- proj.shortDescription %></p>
            </div>
            <ul>
              <% for (const link of proj.links) { %>
              <li>
                <a href="<%= link.link %>"> <%= link.type %></a>
              </li>
              <% } %>
            </ul>
          </article>
          <% } %>
        </section>
        <button class="btn btn--light-outline">View All</button>
      </section>
      <section id="art">
        <h2>Art and Computer Science</h2>
        <hr class="main-break" />
        <article>
          <div id="quote">
            “I have always imagined that Paradise will be a kind of library”
          </div>
          <% for (const line of pageData.artBlurb) { %>
          <p><%- line %></p>
          <% } %>
        </article>
        <div class='img-container'>
        <img id='celtic' src="Celtic-knot-basic.svg"></img>
    </div>
      </section>
      <section id="contact">
        <h3>Like my work? Want to collaborate?</h3>
        <button class="btn">Contact Me</button>
      </section>
    </section>
  </body>
</html>

<!-- <img src="./videos/screenrec_test.gif" class="freezeframe" /> -->
