<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Chris Coyne Dev</title>
    <link rel="icon" href="./favicon.ico" />
    <meta
      name="description"
      content="Personal web development and art portfolio for christopher coyne"
    />
  </head>
  <script
    src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"
    defer
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"
    defer
  ></script>
  <script src="./scripts.js" defer></script>
  <body>
    <nav>
      <%- include( './partials/cc_logo.ejs') %>
      <ul id="nav-links">
        <li><a class="nav__link" href="#about">About</a></li>
        <li><a class="nav__link" href="#big-project">Projects</a></li>
        <li><a class="nav__link" href="#art">Artwork</a></li>
        <li><a class="nav__link" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <section id="content">
      <section id="herocontainer">
        <%- include( './partials/graph.ejs') %>
        <div id="hero-intro">
          <h1 id="hero-title">Chris Coyne</h1>
          <hr id="hero-hr" />
          <p id="hero-blurb" class="font-body">
            Developer with an passion for frontend and an appreciation for the
            beauty of programming
          </p>
          <ul>
            <li id="hero-link-github">
              <a href="https://github.com/christopher-coyne" target="”_blank”"
                ><img src="./github.svg" />Github</a
              >
            </li>
            <li id="hero-link-linkedin">
              <a
                href="https://www.linkedin.com/in/christopher-coyne/"
                target="”_blank”"
                ><img src="./linkedin.svg" />LinkedIn</a
              >
            </li>
            <li id="hero-link-resume" download>
              <a
                href="https://www.linkedin.com/in/christopher-coyne/"
                target="_blank"
                rel="noopener noreferrer"
                ><img src="./paper.svg" />Resume</a
              >
            </li>
          </ul>
        </div>
      </section>
      <section id="about">
        <h2>About Me</h2>
        <hr class="main-break" />
        <article class="font-body">
          <h3 class="font-body">Hello All,</h3>
          <p>
            I am a web developer and recent graduate of Columbia University,
            where I received an MS in Computer science. While in school, I
            specialized in software systems, taking a variety of classes on
            databases, cloud computing, networks, operating systems, and more. I
            hope to use my background in systems to take an in depth and
            thorough approach to full stack development.
          </p>
          <p>
            I live in NYC, and am currently working as a software consultant at
            <a
              href="https://pyyne.com"
              class="secondary-text white-link"
              target="”_blank”"
              >Pyyne Digital</a
            >.
          </p>
          <h3 class="font-body">
            Some technologies I've been using recently...
          </h3>
          <ul id="tech-skills">
            <li id="languages" class="skills">
              <img
                src="bulletpoint.svg"
                alt="bulletpoint"
                class="bulletpoint"
              />
              Languages:
              <ul class="secondary-text">
                <li>Javascript</li>
                <li>HTML/CSS</li>
                <li>Python</li>
                <li>Typescript</li>
              </ul>
            </li>
            <li id="frameworks" class="skills">
              <img
                src="bulletpoint.svg"
                alt="bulletpoint"
                class="bulletpoint"
              />
              Frameworks And Libraries:
              <ul class="secondary-text">
                <li>React</li>
                <li>Tailwind CSS</li>
                <li>Jest</li>
                <li>Redux</li>
              </ul>
            </li>
            <li id="other tools" class="skills">
              <img
                src="bulletpoint.svg"
                alt="bulletpoint"
                class="bulletpoint"
              />
              Other Tools:
              <ul class="secondary-text">
                <li>Amazon Web Services</li>
                <li>Docker</li>
                <li>Linux</li>
                <li>Nginx</li>
              </ul>
            </li>
          </ul>
        </article>
      </section>
      <section id="big-project">
        <h2>Projects</h2>
        <hr class="main-break" />
        <% for (const proj of pageData.bigProjects) { %>
        <article class="big-project__project">
          <div class="screenshot">
            <!-- <div class="videoFiller">filler here</div> -->
            <!-- <img src="./videos/largescreen_resize.gif" class="freezeframe" /> -->
            <div class="screenshot-overlay-container">
              <!-- <div class="screenshot-overlay"></div> -->
              <a href="<%= proj.links[1].link %>" target="_blank">
                <img
                  class="screenshot-img"
                  src="<%= proj.screenshot %>"
                  alt="<%= proj.screenshot %>"
                />
              </a>
            </div>
            <div class="links">
              <% for (const link of proj.links) { %>
              <a
                href="<%= link.link %>"
                class="font-subtitle"
                target="”_blank”"
              >
                <%= link.type %>
              </a>
              <% } %>
            </div>
          </div>
          <section class="big-project__blurb">
            <article class="big-project__description">
              <h3 class="font-subtitle"><%= proj.name %></h3>
              <p class="font-small-body"><%= proj.shortDescription %></p>
            </article>
            <ul class="big-project__links font-small-body">
              <% for (const skill of proj.skills) { %>
              <li class="secondary-text"><%= skill %></li>
              <% } %>
            </ul>
          </section>
        </article>
        <% } %>
      </section>
      <section id="small-project">
        <h2>Small Things</h2>
        <hr class="main-break" />
        <h3>
          Small projects that were too simple to put with the others. Edifying
          nonetheless.
        </h3>
        <section id="small-project__all-projects">
          <% for (const proj of pageData.smallProjects) { %>
          <article class="small-project__project">
            <div>
              <h3 class="font-subtitle"><%= proj.name %></h3>
              <hr />
              <p class="description font-small-body">
                <%- proj.shortDescription %>
              </p>
            </div>
            <ul>
              <% for (const link of proj.links) { %>
              <li>
                <a href="<%= link.link %>" target="”_blank”">
                  <img src=<%= link.type === 'Github' ? './github.svg' :
                  './bx_link-external.svg'%> /></a
                >
              </li>
              <% } %>
            </ul>
          </article>
          <% } %>
        </section>
      </section>
      <section id="art">
        <h2>Art and Computer Science</h2>
        <hr class="main-break" />
        <article>
          <div id="quote">
            “I have always imagined that Paradise will be a kind of library”
          </div>
          <% for (const line of pageData.artBlurb) { %>
          <p class="font-body"><%- line %></p>
          <% } %>
        </article>
        <%- include( './partials/celtic-bar.ejs') %>
      </section>
      <section id="contact">
        <h3>Like my work? Want to collaborate?</h3>
        <a href="mailto:christcoyne@gmail.com" target="_blank">
          <button class="link-button">Contact Me</button>
        </a>
      </section>
    </section>
  </body>
</html>
